.main-menu{
    display: flex;
    
    
    width: 60%;
    justify-content: space-around;
    

}

.main-menu__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    height: 100%;
}

.main-menu__item--top, .main-menu__item--bottom {
    font-family: Bebas;
    
    text-transform: uppercase;
    //text-align: center;
    
}
.main-menu__item--top{
    font-size: 1em;
    color: #acacac;
}
.main-menu__item--bottom{
    font-size: 1.7em;
    color: #474747;
}



.main-menu__item:focus::before {
        content: ''; 
        left: 50%; top: 0; 
        transform: translateX(-50%);
        width: 0; height: 0;
        border-style: solid;
        border-width: 10px;
        border-color:   #ececec transparent transparent;
        position: absolute;
    }





