
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 940px;
    margin: 0 auto;
    
}

.logo-Pacifico {
    display: inline-block;
    font-family: Pacifico;
    font-size: 2.6em;
    color: #474747;
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px 0 0 8px;
    
}

.main-menu{
    display: flex;
    width: 63%;
    justify-content: space-between;
    align-items: stretch;
    
    
    
    

}

.burger-nav {
    display: none;
}

.main-menu__item{
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    padding: 43px 0 48px 0;
   
}

.main-menu__item--top, .main-menu__item--bottom {
    font-family: Bebas;
    text-transform: uppercase;
   
}
.main-menu__item--top{
    font-size: 0.75em;
    color: #acacac;
}
.main-menu__item--bottom{
    font-size: 1.25em;
    color: #474747;
}

.main-menu__item.selected::before{
    content: ''; 
        left: 50%; top: 0; 
        transform: translateX(-50%);
        width: 0; height: 0;
        border-style: solid;
        border-width: 10px;
        border-color:   #ececec transparent transparent;
        position: absolute;
}

.main-menu__item:hover::before {
        content: ''; 
        left: 50%; top: 0; 
        transform: translateX(-50%);
        width: 0; height: 0;
        border-style: solid;
        border-width: 10px;
        border-color:   #ececec transparent transparent;
        position: absolute;
        
        
    }

    @media (max-width: 640px){
        

        .logo-Pacifico {
            padding: 15px 0 0 8px;
        }
        .main-menu {
            display: none;
        }
       

        .burger-nav {
            display: flex;
            justify-content: flex-end;
            width: 80%;
            position: relative;
            padding: 0 0 52px 0;
            z-index: 4;
            
           
        
            &__opener {
                display: block;
                width: 50px;
                height: 50px;
                margin: 30px 10px 0 0 ;
                border-radius: 20%;
                background-color: #eaeaea;
                position: relative;
                cursor: pointer;
               
                &__layer,
                &__layer::before,
                &__layer::after {
                    position: absolute;
                    top: 50%; margin-top: -1px;
                    left: 50%; margin-left: -10px;
                    width: 20px;
                    height: 2px;
                    background-color: #000;
                }

                &__layer::before,
                &__layer::after {
                    content: '';
                    display: block;
                    transition: 0.2s;
                }

                &__layer::before {
                    transform: translateY(-5px);
                }

                &__layer::after {
                    transform: translateY(5px);
                }
                
                &.open {
                    background-color: red;
                    .burger-nav__opener__layer {
                        height: 0;
                    }
                    .burger-nav__opener__layer::before {
                        transform: rotate(45deg);
                    }
                    .burger-nav__opener__layer::after {
                        transform: rotate(-45deg);
                    }

                }
            }
        
            &__items {
                overflow: hidden;
                max-height: 0;
                transition: .5s linear;
                position: absolute;
                width: 100%;
                background-color: white;
                top: 80px;
                
                
        
                &.open {
                    max-height: 500px;
                    transition: .5s linear;
                }
            }
        }
        
        .menu-item {
            display: block;
            font-size: 16px;
            padding: 5px 10px;
            border-bottom: 1px solid grey;
            text-decoration: none;
            text-align: center;
            position: relative;
        }

        .menu-item.selected::before{
            content: ''; 
                left: 0; top: 50%; 
                transform: translateY(-50%);
                width: 0; height: 0;
                border: 10px solid transparent;	
                border-left: 20px solid #ececec;
                position: absolute;
        }

        .menu-item.selected::after{
            content: ''; 
                right: 0; top: 50%; 
                transform: translateY(-50%);
                width: 0; height: 0;
                border: 10px solid transparent;	
                border-right: 20px solid #ececec;	
                position: absolute;
        }



        

        
        
    }







