<div class="header">
    <div class="logo">
        <a href="#" class="logo-Pacifico">blitz</a>
    </div>

<nav class="main-menu">
    <a href="#" class="main-menu__item selected">
        <div class="main-menu__item--top">homepage</div>
        <div class="main-menu__item--bottom">home</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">wo are we?</div>
        <div class="main-menu__item--bottom">about</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">my portfolio</div>
        <div class="main-menu__item--bottom">projects</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">latest news</div>
        <div class="main-menu__item--bottom">blog</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">get in touch</div>
        <div class="main-menu__item--bottom">contact</div>
    </a>
</nav>
</div>