<div class="header">
    <div class="logo">
        <a href="#" class="logo-Pacifico">blitz</a>
    </div>

<nav class="main-menu">
    <a href="#" class="main-menu__item selected">
        <div class="main-menu__item--top">homepage</div>
        <div class="main-menu__item--bottom">home</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">wo are we?</div>
        <div class="main-menu__item--bottom">about</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">my portfolio</div>
        <div class="main-menu__item--bottom">projects</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">latest news</div>
        <div class="main-menu__item--bottom">blog</div>
    </a>
    <a href="#" class="main-menu__item">
        <div class="main-menu__item--top">get in touch</div>
        <div class="main-menu__item--bottom">contact</div>
    </a>
</nav>


<nav class="burger-nav">
    <!--<input id="go" type="checkbox"/>
<label for="go" class="st">Click me</label>

<ul class="navigation"> 
    <li>
        <a href="#" class="main-menu__640px__item">
            <div class="main-menu__item--top">homepage</div>
            <div class="main-menu__item--bottom">home</div>
        </a>
    </li> 
    <li>
        <a href="#" class="main-menu__640px__item">
            <div class="main-menu__item--top">wo are we?</div>
            <div class="main-menu__item--bottom">about</div>
        </a>
    </li> 
    <li>
        <a href="#" class="main-menu__640px__item">
            <div class="main-menu__item--top">my portfolio</div>
            <div class="main-menu__item--bottom">projects</div>
        </a>
    </li>
    <li>
        <a href="#" class="main-menu__640px__item">
            <div class="main-menu__item--top">latest news</div>
            <div class="main-menu__item--bottom">blog</div>
        </a>
    </li>
    <li>
        <a href="#" class="main-menu__640px__item">
            <div class="main-menu__item--top">get in touch</div>
            <div class="main-menu__item--bottom">contact</div>
        </a>
    </li> 
</ul>-->
        <div class="burger-nav__opener"></div>
        <div class="burger-nav__items">
            <a href="#" class="menu-item">
                <div class="main-menu__item--top">homepage</div>
                <div class="main-menu__item--bottom">home</div>
            </a>
            <a href="#" class="menu-item">
                <div class="main-menu__item--top">wo are we?</div>
                <div class="main-menu__item--bottom">about</div>
            </a>
            <a href="#" class="menu-item">
                <div class="main-menu__item--top">my portfolio</div>
                <div class="main-menu__item--bottom">projects</div>
            </a>
            <a href="#" class="menu-item">
                <div class="main-menu__item--top">latest news</div>
                <div class="main-menu__item--bottom">blog</div>
            </a>
            <a href="#" class="menu-item">
                <div class="main-menu__item--top">get in touch</div>
                <div class="main-menu__item--bottom">contact</div>
            </a>
        </div>
</nav>
</div>