.footer {
    display: block;
    height: 70px;
    background-color: #f8f8f8;
    
   
    
}

.footer-content {
    display: flex;
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    
}

 

.footer-content__right, .footer-content__left {
    margin: 19px 3px;
}

.footer-content__left__span, .footer-content__right__span {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #656565;
    
}

