<div class="featured-section">
<div class="three-column">


    <div class="three-column__item">
        <div class="about">
            <div class="about_header-wrapper">
                <div class="about_header-icon">
                    <img src="../../img/magnify glass.png" alt="">
                </div>
                <div class="about__header">
                <p>Check out our  latest PROJECTS</p>
                </div>
            </div>
        
            <div class="about__content">
                <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                    congue sit amet tellus. Aliquam ullamcorper dui sed 
                    magna posue re ut elementum enim rutrum. Nam mi erat, 
                    porta id ultrices nec, pellentesque vel nunc. 
                    Cras varius fermentum iaculis. Aenean sodales nibh 
                    non lectus tempor a interdum justo ultricies.</p>
            </div>
            <div class="about__footer">
                <a href="#" class="about__footer__link"> 
                    <img src="../../img/more icon.png" class="about__footer__image" alt="">
                    <span class="about__footer__content">find out more</span>
                </a>
            </div>
        </div>
    </div>

    <div class="three-column__item">
            <div class="about">
                <div class="about_header-wrapper">
                    <div class="about_header-icon">
                        <img src="../../img/icon.png" alt="">
                    </div>
                    <div class="about__header">
                        <p>Check out our  latest PROJECTS</p>
                    </div>
                </div>
            
                <div class="about__content">
                    <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                        congue sit amet tellus. Aliquam ullamcorper dui sed 
                        magna posue re ut elementum enim rutrum. Nam mi erat, 
                        porta id ultrices nec, pellentesque vel nunc. 
                        Cras varius fermentum iaculis. Aenean sodales nibh 
                        non lectus tempor a interdum justo ultricies.</p>
                </div>
                <div class="about__footer">
                    <a href="#" class="about__footer__link"> 
                        <img src="../../img/more icon.png" class="about__footer__image" alt="">
                        <span class="about__footer__content">find out more</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="three-column__item">
                <div class="about">
                    <div class="about_header-wrapper">
                        <div class="about_header-icon">
                            <img src="../../img/icon1.png" alt="">
                        </div>
                        <div class="about__header">
                            <p>Check out our  latest PROJECTS</p>
                        </div>
                    </div>
                
                    <div class="about__content">
                        <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                            congue sit amet tellus. Aliquam ullamcorper dui sed 
                            magna posue re ut elementum enim rutrum. Nam mi erat, 
                            porta id ultrices nec, pellentesque vel nunc. 
                            Cras varius fermentum iaculis. Aenean sodales nibh 
                            non lectus tempor a interdum justo ultricies.
                        
                            Maecenas ipsum metus, semper hendrerit varius mattis, 
                            congue sit amet tellus. Aliquam ullamcorper dui sed 
                            magna posue re ut elementum enim rutrum. Nam mi erat, 
                            porta id ultrices nec, pellentesque vel nunc. 
                            Cras varius fermentum iaculis. Aenean sodales nibh 
                            non lectus tempor a interdum justo ultricies.</p>
                    </div>
                    <div class="about__footer">
                        <a href="#" class="about__footer__link"> 
                            <img src="../../img/more icon.png" class="about__footer__image" alt="">
                            <span class="about__footer__content">find out more</span>
                        </a>
                    </div>
                </div>
            </div>





   
</div>
</div>