.featured-section {
    display: flex;
    justify-content: space-between;
    //align-items: stretch;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 40px;
}

.column{
    display: block;
    max-width: 300px;
}


.latest-projects__headline, .guarantee__headline, 
.stay-connected__headline{
    display: flex;
    font-family: Bebas;
    font-size: 1.25em;
    color: #464646;
}

.paragraph {
    font-family: HelveticaNeue;
    font-size: 0.75em;
    color: #474747;
    padding: 33px 4px 0 4px;
}

.bg-icon {
    width: 60px; height: 39px;
    background: url('../img/css_sprites.png') -76px -10px;
}

.bg-message {
    width: 65px; height: 41px;
    background: url('../img/css_sprites.png') -10px -10px;
    
}

.bg-magnify_glass {
    width: 60px; height: 38px;
    background: url('../img/css_sprites.png') -10px -71px;
}

.headline-p{
    padding-left: 30px;
}

