<div class="featured-section">
    <div class="column">
        <div class="column__headline">
            <div class="column__headline__image">
                <img src="../../img/magnify glass.png" alt="">
            </div>
            <div class="column__headline__p">
                <p>Check out our  latest PROJECTS</p>
            </div>
        </div>
        <div class="column__paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>
</div>


    <div class="column">
        <div class="column__headline">
            <div class="column__headline__image">
                <img src="../../img/icon.png" alt="">
            </div>
           <div class="column__headline__p"> 
                <p>Guarantee 5 STar Quality Work</p>
            </div>
        </div>
        <div class="column__paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>       
    </div>


    <div class="column">
        <div class="column__headline">
            <div class="column__headline__image">
                <img src="../../img/icon1.png" alt="">
            </div>
            <div>
                <p class="column__headline__p">Stay connected by reading the blog</p>
            </div>
        </div>
        <div class="column__paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>
    </div>
</div>