<div class="featured-section">
    <div class="latest-projects column">
        <div class="latest-projects__headline">
            <div class="headline-image bg-magnify_glass">
                <img src="../../img/magnify glass.png" alt="">
            </div>
            <div class="headline-p">
                <p>Check out our  latest PROJECTS</p>
            </div>
        </div>
        <div class="latest-projects__p paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>
</div>


    <div class="guarantee column">
        <div class="guarantee__headline">
            <div class="headline-image bg-icon ">
                <img src="../../img/icon.png" alt="">
            </div>
           <div class="headline-p"> 
                <p>Guarantee 5 STar Quality Work</p>
            </div>
        </div>
        <div class="guarantee__p paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>       
    </div>


    <div class="stay-connected column">
        <div class="stay-connected__headline">
            <div class="headline-image bg-message ">
                <img src="../../img/icon1.png" alt="">
            </div>
            <div>
                <p class="headline-p">Stay connected by reading the blog</p>
            </div>
        </div>
        <div class="stay-connected__p paragraph">
            <p>Maecenas ipsum metus, semper hendrerit varius mattis, 
                congue sit amet tellus. Aliquam ullamcorper dui sed 
                magna posue re ut elementum enim rutrum. Nam mi erat, 
                porta id ultrices nec, pellentesque vel nunc. 
                Cras varius fermentum iaculis. Aenean sodales nibh 
                non lectus tempor a interdum justo ultricies.</p>
        </div>
        <div class="expand-page">
            <a href="#" class="expand-page__a"> 
                <img src="../../img/more icon.png" class="expand-page__image" alt="">
                <span class="expand-page__span">find out more</span>
            </a>
        </div>
    </div>
</div>