<div class="product-item_previews">
    <div class="product-preview">
        <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        <div class="product-preview--big">
            <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        </div>
    </div>

    <div class="product-preview">
        <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        <div class="product-preview--big">
            <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        </div>
    </div>

    <div class="product-preview">
        <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        <div class="product-preview--big">
            <img class="product-item_previews-img" src="./img/Nike.jpg" alt="">
        </div>
    </div>
        
        
</div>