html {
    outline: 1px solid green;
}

body * {
    outline: 1px solid red;
}

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.parent{
    background-color: #131313;
    text-align: center;
   
    
}

.a{
    display: inline-block;
    height: 82px;
    vertical-align: top;
    margin: 20px 3px;
}

.class{
    line-height: 82px;
    color: #b3b3b3;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
}