html {
    outline: 1px solid green;
}

body * {
    outline: 1px solid red;
}

/*.center{
    display: block;
    width: 150px;
    margin: 0 50%;
    outline: 1px dotted red;
    padding: 10px;
}*/

.parent{
    height: 200px;
    width: 200px;
    outline: 1px solid red;
}
.center {
    padding: 50%;
    
    outline: 1px solid green;
}