

<div class="product-item">
    <div class="product-logo">
            <img src="./img/nike-just-do-it.jpg" class="product-logo_img" alt="">
    </div>


    <div class="product-item_imades">
        <div class="product-item_previews-wrapper">
            @@include('../product-previews/_product-previews.html')
        </div>

        <div class="product-item_img">
            <img src="./img/Nike.jpg" class="product-item_img_photo" alt="">
        </div>
    </div>

    
    <div class="product-item_title">
        <h3>Nike Zoom - Скорость. Амортизация. Контроль.</h3>
    </div>
    <div class="product-item_description">
        <div class="product-item_description_top">
            <div>
                <p>Все это обеспечивает Nike Zoom, инновационная система взрывной амортизации, 
                повышающая скорость и маневренность. Технология представляет собой сжатый воздух 
                и туго натянутые волокна, которые поглощают ударные нагрузки, возвращают энергию и 
                уменьшают давление на мышцы, суставы и связки.</p>
            </div>

            <div>
                <img src="./img/SU15_RN_Vomero_M_Exploded_native_600.jpg" alt="">
            </div>
        </div>
        <div class="product-item_description_bottom">
            <div>
                <img src="./img/sprinterskiy-beg-2.jpg" alt="">
            </div>
            <div>
                <p>Если ты хочешь улучшить скорость и другие параметры бега, 
                не упусти шанс приобрести новую модель Nike Zoom для бега.</p>
            </div>
        </div>
    </div>

    <div class="product-item_buttons">
            <div class="product-item_buttons_buy">
                <a href="#" class="product-item_buttons_buy_a" title="купить">Купить</a>
            </div>
            <div class="product-item_buttons_basket">
               <a href="#" class="product-item_buttons_basket_a" title="В корзину">В корзину</a>
            </div>
    </div>
</div>