<div class="slider container">
    <input type="radio" name="point" id="slide1" checked>
    <input type="radio" name="point" id="slide2">
    <input type="radio" name="point" id="slide3">
    <input type="radio" name="point" id="slide4">
    <div class="select">
        <label for="slide1" class="button"></label>
        <label for="slide2" class="button"></label>
        <label for="slide3" class="button"></label>
        <label for="slide4" class="button"></label>					
    </div>				
    <div class="slider-content">
        <div class="slides slide1"></div>
        <div class="slides slide2"></div>
        <div class="slides slide3"></div>
        <div class="slides slide4"></div>					
    </div>
                                                                
</div>