<div class="slider">
    <div class="slider-content">
        <img style="display:block;" src="../../img/img.png" alt="">
        <div class="slider-content__wallpaper">
        
            <div class="slider-content__wallpaper__left--bottom">
                <span class="slider__left__text">This Months </span> 
                <span class="slider__left__text__bottom">FEATURED WORK</span></p>
            </div>
            <div class="slider-content__wallpaper__right--bottom">
                <div class="right-bottom active"></div>
                <div class="right-bottom"></div>
                <div class="right-bottom"></div>
                <div class="right-bottom"></div>
            </div>
        </div>
        <div class="slider-content__description">
            <div class="slider-content__description__headline">

            </div>
            <div class="slider-content__description__paragraph">

            </div>
        </div>
    </div>
</div>