<div class="slider">
    <div class="slider-content">
        <div class="slider-content__wallpaper">
        
            <div class="slider-content__wallpaper__left--bottom">
                <p>This Months <br> <span>FEATURED WORK</span></p>
            </div>
            <div class="slider-content__wallpaper__right--bottom">
                <div class="right-bottom active"></div>
                <div class="right-bottom"></div>
                <div class="right-bottom"></div>
                <div class="right-bottom"></div>
            </div>
        </div>
        <div class="slider-content__description">
            <div class="slider-content__description__headline">

            </div>
            <div class="slider-content__description__paragraph">

            </div>
        </div>
    </div>
</div>