<div class="slider">
    <div class="slider-content">
        <img class="slider-content__image" src="../../img/img.png" alt="">
        
        <div class="slider-content__left--bottom">
            <span class="slider__left__text">This Months </span> 
            <span class="slider__left__text__bottom">FEATURED WORK</span></p>
        </div>
        <div class="slider-content__right--bottom">
            <div class="right-bottom active"></div>
            <div class="right-bottom"></div>
            <div class="right-bottom"></div>
            <div class="right-bottom"></div>
        </div>
    </div>

    <div class="slider-footer">
        <h3 class="slider-footer__h3">JESUS TYPOGRAPHY WALLPAPER</h3>
        <p class="slider-footer__p">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Vivamus non diam et lacus pulvinar venenatis 
            et vestibulum velit. Pellentesque interdum faucibus dui hendrerit ultrices. 
            Aliquam erat volutpat. Duis commodo turpis id diam pulvinar hendrerit.</p>
    </div>
</div>