.slider{
    margin-top: 3.2em;
}

.slider-content{
    display: block;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

//.slider-content__wallpaper {
    //display: flex;
    //background: url(./../img/img.png) no-repeat center top / cover;
    //min-height: 425px;
    //justify-content: space-between;
    //align-items: flex-end;
//}

.slider-content__wallpaper__left--bottom{
    display: block;
    background-color: #404040;
    max-height: 72px;
    max-width: 217px;
    position: absolute;
    top:353px;
    
}

.slider__left__text{
    display: block;
    outline: 1px solid red;
    font-family: Bebas;
    font-size: 14px;
    color: #9a9a9a;
    //padding: 8px 10px 0px 17px;
}

.slider__left__text__bottom{
    display: block;
    outline: 1px solid red;
    font-family: Bebas;
    color: #fff;
    //float: left;
    font-size: 28px;
    padding: 3px 10px 12px 17px;
}



