<div class="latest">
    <div class="latest__headline">
        <h3 class="latest__headline__h3">My  latest  work</h3>
    </div>

    <div class="latest-work">
        <div class="latest-work__project">
            <img src="../../img/project1.png" class="latest-work__project__image" alt="">
            <div class="latest-work__project__headline">
                <p class="latest-work__project__headline__p">Vallarta Brochure</p>
            </div>
            <div class="latest-work__project__paragraph">
                <p class="latest-work__project__paragraph__p">Maecenas ipsum metus, 
                    semper hendrerit varius mattis, congue sit amet tellus. 
                    Aliquam ullamcorper dui sed magna posue re ut elementum enim 
                    rutrum.</p>
            </div>
            <div class="latest-work__project__expand">
                <a href="#" class="latest-work__project__expand__link">
                    <img src="../../img/more icon.png" class="latest-work__project__expand__link__image" alt="">
                    <span class="latest-work__project__expand__link__span">View project</span>
                </a>
            </div>
        </div>


        <div class="latest-work__project">
            <img src="../../img/project2.png" class="latest-work__project__image" alt="">
            <div class="latest-work__project__headline">
                <p class="latest-work__project__headline__p">Photoshop tutorial</p>
            </div>
            <div class="latest-work__project__paragraph">
                <p class="latest-work__project__paragraph__p">Maecenas ipsum metus, 
                    semper hendrerit varius mattis, congue sit amet tellus. 
                    Aliquam ullamcorper dui sed magna posue re ut elementum enim 
                    rutrum.</p>
            </div>
            <div class="latest-work__project__expand">
                <a href="#" class="latest-work__project__expand__link">
                    <img src="../../img/more icon.png" class="latest-work__project__expand__link__image" alt="">
                    <span class="latest-work__project__expand__link__span">View project</span>
                </a>
            </div>
        </div>


        <div class="latest-work__project">
            <img src="../../img/project3.png" class="latest-work__project__image" alt="">
            <div class="latest-work__project__headline">
                <p class="latest-work__project__headline__p">Business cards</p>
            </div>
            <div class="latest-work__project__paragraph">
                <p class="latest-work__project__paragraph__p">Maecenas ipsum metus, 
                    semper hendrerit varius mattis, congue sit amet tellus. 
                    Aliquam ullamcorper dui sed magna posue re ut elementum enim 
                    rutrum.</p>
            </div>
            <div class="latest-work__project__expand">
                <a href="#" class="latest-work__project__expand__link">
                    <img src="../../img/more icon.png" class="latest-work__project__expand__link__image" alt="">
                    <span class="latest-work__project__expand__link__span">View project</span>
                </a>
            </div>
        </div>


        <div class="latest-work__project">
            <img src="../../img/project4.png" class="latest-work__project__image" alt="">
            <div class="latest-work__project__headline">
                <p class="latest-work__project__headline__p">Website design</p>
            </div>
            <div class="latest-work__project__paragraph">
                <p class="latest-work__project__paragraph__p">Maecenas ipsum metus, 
                    semper hendrerit varius mattis, congue sit amet tellus. 
                    Aliquam ullamcorper dui sed magna posue re ut elementum enim 
                    rutrum.</p>
            </div>
            <div class="latest-work__project__expand">
                <a href="#" class="latest-work__project__expand__link">
                    <img src="../../img/more icon.png" class="latest-work__project__expand__link__image" alt="">
                    <span class="latest-work__project__expand__link__span">View project</span>
                </a>
            </div>
        </div>
    </div>
    
</div>
<div class="latest__border-bottom"></div>