.latest{
    display: block;
    max-width: 940px;
    margin: 65px auto 0 auto;
}

.latest__headline{
    background: url(../../img/HeaderBackground.png) no-repeat 50% 50%;
    text-align: center;
}
.latest__headline__h3{
    display: inline-block;
    background-color: #fff;
    padding: 0 30px 1px 30px;
    font-family: Bebas;
    font-size: 18px;
    color: #474747;
}

.latest-work {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.latest-work__project {
    max-width: 220px;
}